{% extends 'layout.html' %}
    
    {% block title %}
    tweet delete
    {% endblock title %}

    
    {% block content %}
        <h1 class="text-center"> 
            Are you sure do you want delete this post? 
        </h1>

        <form method="POST">
            {% csrf_token %}

            <button class="btn btn-danger">
                    Delete
            </button>
            <a href="{% url 'tweet_list' %}">
                Cancel
            </a>
        </form>
    {% endblock content %}
        
        
